<!DOCTYPE html>
<head>
    <title>PotPlug</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/dashboard.css">

    <!-- chart.js, just in case -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <!-- Option Screen -->
    <header>
        <div class="dropdown">
            <button id="menu-btn">&#9776;</button>
            <div class="dropdown-content">
                <a href="/logout">Log Out</a>
                <a href="/settings">Settings</a>
            </div>
        </div>
        <h1 id="titleOfProduct">PotPlug</h1>
        <a href="/" id="dashboard-btn">Home</a>
    </header>

    <br>
    <br>

    {% if session.user %}
    <h1> Welcome {{ session.user.userinfo.nickname }}. </h1>
    {% else %}
    <h1> Testing:r {{session}} </h1>
    {% endif %}

    <main>
        <section id="incident-section">
            <h2>Recent Incidents</h2>
            <div id="incident-list">
                <!-- Incident data comes here -->
            </div>
        </section>

    <section id="map-section">
        <h2>Live Location</h2>
        <div id="map">
            <!-- Google Maps or other map integration can be added here -->
            <!-- Eddie will do this section -->
        </div>
    </section>
    </main>

    <section id="testing">
        <h2>Testing</h2>
        <button id="testFuncButton">Call testFunc</button>
    </section>

    <!-- JavaScript Code -->
    <script>
        // Fetch incident data from the API
        fetch('/api/incidents')
            .then(response => response.json())
            .then(data => {
                const incidentList = document.getElementById('incident-list');
                data.forEach(incident => {

                    // Create a new div element for each incident
                    const incidentDiv = document.createElement('div');
                    incidentDiv.classList.add('incident');
                    
                    const htmlContent = `<p><strong>Recent Incident:</strong> ${incident.incident}</p>`;
                    
                    incidentDiv.innerHTML = htmlContent;
                    incidentList.appendChild(incidentDiv);
                });
            })
            .catch(error => {
                console.error('Error fetching incident data:', error);
            });
        
            document.getElementById('testFuncButton').addEventListener('click', function() {
            fetch('/test-func', {
                method: 'POST'
            }).then(response => response.json())
        });
    </script>
</body>
