<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PotPlug - Introducing Our Innovative Pothole Detector System</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="dropdown">
            <button id="menu-btn">&#9776;</button>
            <div class="dropdown-content">
                {% if session.userinfo %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
                <a href="/settings">Settings</a>
            </div>
        </div>
        <h1 id="titleOfProduct">PotPlug</h1>
        <a href="/dashboard" id="dashboard-btn">Dashboard</a>
    </header>

    <br>

    <!-- Description -->
    <div class="description">
        <p>A revolutionary car safety device that utilizes cutting-edge technology to ensure your safety on the road.</p>
    </div>

    <!-- What We Do Section -->
    <div class="what-we-do">
        <h2>What We Do</h2>
        <p>Our innovative pothole detector system, designed to significantly enhance road safety and efficiency for drivers and municipalities helps customers via our:</p>
        <ol>
            <li><strong>Personal Crash Alert System:</strong> Utilizing advanced gyroscope and ultrasonic sensor technology, our system promptly detects personal crashes in real-time. Immediate alerts are dispatched to both users and emergency medical services (EMS), expediting notification to designated contacts and facilitating swift ambulance response times.</li>
            <li><strong>Road Condition Tracking and Notification:</strong> Our system continuously monitors road conditions, including potholes, speed bumps, and crashes. Similar to leading navigation platforms such as Waze, users receive live updates on road incidents, promoting heightened awareness and safe driving practices. Additionally, this data is shared with municipal authorities to expedite pothole repairs and road maintenance efforts.</li>
            <li><strong>Vehicle Damage Detection and Support:</strong> Beyond personal safety, our system identifies potential vehicle damage caused by road hazards like potholes. It provides users with guidance on filing damage claims with the city, simplifying the process and encouraging timely resolution of road maintenance issues.</li>
        </ol>
        <p>In summary, our pothole detector system combines cutting-edge sensor technology with proactive notification systems to optimize road safety, emergency response, and infrastructure maintenance. Whether you're a driver seeking safer travels or a municipality committed to enhancing road conditions, our solution is tailored to meet your needs efficiently and effectively.</p>
    </div>

    <!-- JavaScript Code -->
    <script src="/static/index.js"></script>
</body>
