<!DOCTYPE html>
<head>
    <title>PotPlug - Settings</title>

    <!-- CSS -->
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="dropdown">
            <button id="menu-btn">&#9776;</button>
            <div class="dropdown-content">
                <a href="/logout">Log Out</a>
                <a href="/settings">Settings</a>
            </div>
        </div>
        <h1 id="titleOfProduct">PotPlug</h1>
        <a href="/dashboard" id="dashboard-btn">Dashboard</a>
    </header>

    <br>

    <!-- Description -->
    <div class="description">
        <p>To Complete</p>
    </div>
</body>
